
    <div class="row  text-center">
        <div class="card col-md-4">
             <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcQjo-dsEHtYUyuTPNn-PfW6roSHQeX9Lqp1lpBk5pOS5bOVTm1-" class="card-img-top img-fluid" alt="..." >
           
             <div class="card-body mr-2">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <div class="d-flex justify-content-between">
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-primary btn-success float-right">Go somewhere</a>
               </div>
             </div>
        </div>
                <div class="card col-md-4">
             <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcQjo-dsEHtYUyuTPNn-PfW6roSHQeX9Lqp1lpBk5pOS5bOVTm1-" class="card-img-top img-responsive" alt="..." >
           
             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <div class="d-flex justify-content-between">
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-primary btn-success float-right">Go somewhere</a>
               </div>
             </div>
        </div>
        <div class="card col-md-4">
             <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcQjo-dsEHtYUyuTPNn-PfW6roSHQeX9Lqp1lpBk5pOS5bOVTm1-" class="card-img-top img-responsive" alt="..." >
           
             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <div class="d-flex justify-content-between">
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-primary btn-success float-right">Go somewhere</a>
               </div>
                
             
      
             </div>
        </div>


        
    </div>
    


    <div class="row  text-center">
        <div class="card col-md-4">
             <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcQjo-dsEHtYUyuTPNn-PfW6roSHQeX9Lqp1lpBk5pOS5bOVTm1-" class="card-img-top img-fluid" alt="..." >
           
             <div class="card-body mr-2">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <div class="d-flex justify-content-between">
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-primary btn-success float-right">Go somewhere</a>
               </div>
             </div>
        </div>
                <div class="card col-md-4">
             <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcQjo-dsEHtYUyuTPNn-PfW6roSHQeX9Lqp1lpBk5pOS5bOVTm1-" class="card-img-top img-responsive" alt="..." >
           
             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <div class="d-flex justify-content-between">
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-primary btn-success float-right">Go somewhere</a>
               </div>
             </div>
        </div>
        <div class="card col-md-4">
             <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcQjo-dsEHtYUyuTPNn-PfW6roSHQeX9Lqp1lpBk5pOS5bOVTm1-" class="card-img-top img-responsive" alt="..." >
           
             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               <div class="d-flex justify-content-between">
                <div class="price float-left">$12</div>
                <a href="#" class="btn btn-primary btn-success float-right">Go somewhere</a>
               </div>
                
             
      
             </div>
        </div>


        
    </div>
    
    




